<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="ru" content="text/html;">
<head>
    <title>Игра [[${playerName}]]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/knb.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/game.js"></script>
</head>
<body>
<div id="sessionId" th:text="${sessionId}" hidden></div>
<div class="topRow">
    <span class="gameMoneyRight col-3"><span id="money1">500</span> <i class="far fa-money-bill-alt"></i></span>
    <span class="gameTextCenter col-6">
        <span id="playerName1" class="gameTitle">playerName1</span>
        vs
        <span id="playerName2" class="gameTitle">playerName2</span>
    </span>
    <span class="gameMoneyLeft col-3"> <span id="money2">400</span> <i class="far fa-money-bill-alt"></i></span>
</div>
<div class="topRow">
    <span id="count1" class="gameTextRight col-5">2</span>
    <span class="gameTextCenter col-2"> : </span>
    <span id="count2" class="gameTextLeft col-5">3</span>
</div>
<div class="topRow">
    <span class="gameTextCenter col-12"> Раунд <span id="currentTurn">1</span> из <span id="allTurns">3</span></span>
</div>
<div class="topRow">
    <span class="gameTextCenter col-12"> Ставка <span id="gameBet">0</span> <i class="far fa-money-bill-alt"></i></span>
</div>
<div id="gameStatus" class="gameTextCenter gameStatus col-12">Скоро игра начнется</div>
<div id="figures">
    <table class="layoutTable">
        <tr id="tr0">
            <td id="cell0"></td>
            <td>&nbsp;</td>
            <td id="cell1"></td>
            <td>&nbsp;</td>
            <td id="cell2"></td>
            <td>&nbsp;</td>
            <td id="cell3"></td>
            <td>&nbsp;</td>
            <td id="cell4"></td>
            <td>&nbsp;</td>
            <td id="cell5"></td>
        </tr>
        <tr id="tr1">
            <td>&nbsp;</td>
            <td colspan="9">
                <div id="playerCheatInfo" class="topRow">
                    <span class="gameTextLeft col-6">
                        Выручайки <span id="availCheats">0</span> из<span id="allCheats">1</span>
                    </span>
                    <input id="useCheatBtn"
                           type="button"
                           class="btn btn-secondary"
                           value="Использовать"/>
                </div>
            </td>
            <td id="cell6"></td>
        </tr>
        <tr id="tr2">
            <td id="cell14"></td>
            <td colspan="9">
                <div id="gameDiv" class="topRow">
                    <span id="item1"></span> <span id="result"></span> <span id="item2"></span>
                </div>
            </td>
            <td id="cell7"></td>
        </tr>
        <tr id="tr4">
            <td id="cell13"></td>
            <td>&nbsp;</td>
            <td id="cell12"></td>
            <td>&nbsp;</td>
            <td id="cell11"></td>
            <td>&nbsp;</td>
            <td id="cell10"></td>
            <td>&nbsp;</td>
            <td id="cell9"></td>
            <td>&nbsp;</td>
            <td id="cell8"></td>
        </tr>
    </table>
</div>
<div id="exit">
    <input id="exitBtn"
           type="button"
           class="btn btn-primary"
           value="Выход"/>
</div>

</body>
</html>