<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="ru" content="text/html;">
<head>
    <title>Лобби [[${playerName}]]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/knb.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/lobby.js"></script>
</head>
<body class="container">
<div class="row">
    <div class="col">
        <h2>[[${playerName}]], добро пожаловать!</h2>
    </div>
    <div class="col text-right">
        <a th:href="@{${logout}}">Выйти</a>
    </div>
</div>
<div>На счету [[${playerSum}]] <i class="far fa-money-bill-alt"></i></div>
<div id="sessionId" th:text="${sessionId}" hidden></div>
<div id="playerLogin" th:text="${playerLogin}" hidden></div>
<div class="container">Можно начать новую игру
    <input id="newGameBtn"
           type="button"
           class="btn btn-primary"
           value="Новая игра"/></div>
<div class="container">Или присоединиться к существующей:
    <form>
        <div class="col-8">
            <table class="layoutTable" style="width: 100%;">
                <tbody id="avail-games-div">
                </tbody>
            </table>
        </div>
    </form>
</div>

</body>
</html>